@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br />
<p>Founded in 1971. 
<br />This stored emerged as an oasis for music fans who like the latest music trends or for those who like all time classic peices of music.
<br />Specialising in the best new bands and the established alternative artists, our store has become one of the leading online music retailers in the web.
<br /> Enjoy! </p>
