@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />

<address>
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Order Online:</strong>   <a href="mailto:Support@example.com">recordStored@mail.com</a><br />
</address>