@model IEnumerable<WebApplication8.Models.Album>
@{
    ViewBag.Title = "Home Page";
}  @Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
    <div class="row" style="font-size:15px;background-image: url(https://www.accessselfstorage.com/wp-content/uploads/2018/12/records-1200x800.png); height:400px">
    </div>
<br />
    <div class="row" style="font-size:15px">
        <div class="col-md-6" style="border-left-style:solid;border-left-color:darkorange;">
            <h2>Explore</h2>
            <p>
                Artists, Albums, Genres, Playlists
            </p>
        </div>
        <div class="col-md-6" style="border-left-style:solid;border-left-color:darkorange">
            <h2>Admin</h2>
            <p>
                Employees, Media
            </p>
        </div>
    </div>

