@model WebApplication8.Models.Customer

@{
    ViewBag.Title = "Input";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Invoices </h2>
        <hr />
        <p style="font-weight:bold">*Complete employee and customer names.</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerId)



        <div class="form-group">
            <p class="control-label col-md-2">   Since:</p>
            <div class="col-md-10">
                <input type="text" name="date1" id="date1" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"> Till:</p>
            <div class="col-md-10">
                <input type="text" name="date2" id="date2" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"> Customer First Name:</p>
            <div class="col-md-10">
                <input type="text" name="CustomerFirst" id="CustomerFirst" value="" class="form-control" />

            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"> Customer Last Name:</p>
            <div class="col-md-10">
                <input type="text" name="CustomerLast" id="customerLast" value="" class="form-control" />

            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"> Employee First Name:</p>
            <div class="col-md-10">
                <input type="text" name="EmployeeFirst" id="employeeFirst" value="" class="form-control" />

            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"> Employee Last Name:</p>
            <div class="col-md-10">
                <input type="text" name="EmployeeLast" id="employeeLast" value="" class="form-control" />

            </div>
        </div>


       
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
    <div class="links">
        @Html.ActionLink("Check All Invoices", "Index")
    </div>

}
