@model IEnumerable<WebApplication8.Models.Genre>

@{
    ViewBag.Title = "Top3";
}

<h2>Top 3 Genres</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @{var count = 1;}
    @foreach (var item in Model)
    {
<tr>
    <td>
        @count.      @Html.DisplayFor(modelItem => item.Name)
    </td>
    @{count += 1;}
</tr>
    }

</table>
