@model IEnumerable<WebApplication8.Models.Track>


    <h2> Top 10 Tracks</h2>
    <br />

    <table class="table">
        <tr>
            <th>
                Track Title
            </th>

        </tr>
        @{var count = 1;}
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @count.    @Html.DisplayFor(modelItem => item.Name)
        </td>
        @{count += 1;}
    </tr>
        }

    </table>
