@model WebApplication8.Models.Artist

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Top Artists</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArtistId)
        <p style="font-weight:bold">*Complete at least number of Artists.</p>
        <br />
        <div class="form-group">
            <p class="control-label col-md-2"> Number of Artist: </p>
            <div class="col-md-10">
                <input type="number" name="count" id="count" value="" min="1" class="form-control" />
                <br />
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2">   Since:</p>
            <div class="col-md-10">
                <input type="text" name="date1" id="date1" value="" class="form-control" />
                <br />
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"> Till:</p>
            <div class="col-md-10">
                <input type="text" name="date2" id="date2" value="" class="form-control" />
                <br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
<div class="links">
    @Html.ActionLink("Check Artists List", "Index")
</div>
}